*{
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    grid-area: header;
    background-color: #004ba0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    
}
.logo{
    display: flex;
    width: 80%;
    
}
.logo p{
    margin-left: 2%;
    text-align: center;
    font-size: larger;
    font-weight: 300;
    font-stretch: expanded;
}
.logo img{
    height: 80%;
}
.searcher{
    grid-area: searcher;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}
.searcher select{
    padding: 1.1%;
}
.searcher h4{
    t5xt-align: center;
    font-size: larger;
    font-weight: 300;
    font-stretch: expanded;
}
.main{
    grid-area: main;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination{
    grid-area: pagination;
    display: flex;
    justify-content: center;
    padding: 5%;
}
.footer{
    grid-area: footer;
    background-color: #004ba0;
    color: white;
}
.content-grid{
    display: grid;
    grid-template-areas:
    'header'
    'searcher'
    'main'
    'pagination'
    'footer';
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    border: 1px solid #004ba0;
    width: 20em;
    box-shadow: 3px 7px 10px #004ba05b;
}
.card img{
    width: 20em;
}
.card h5{
    text-align: center;
    font-size: larger;
    font-weight: 200;
    font-stretch: expanded;
    margin-bottom: 1%;
}
.card input{
    margin-bottom: 2%;
    background-color: #004ba0;
    color:#eeeeee;
    padding: 5%;
    border-radius: 10%;
    border: none;
    font-weight: 200;
    font-stretch: expanded;
    font-size: medium;
}
.card input:hover{
    background-color: #004ba099;
}
.content-pages{
    display: flex;
}
.box-pages{
    border: 1px solid #004ba031;
    color: #004ba099;
    padding: 5px 10px;
}
.box-pages:hover{
    font-size: larger;
    background-color: #eeeeee;
}
.arrow{
    letter-spacing: -5px;
}
.back{
    border-top-left-radius: 35%;
    border-bottom-left-radius: 35%;
}
.forward{
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}

@media (max-width: 576px){

*{
    padding-right: 0px;
    margin-left: 0px;
}
.searcher select{
    margin: 1%;
    font-size: larger;
}
.cardDesk{
    display: none;
}

}